<div class="container">
        <!-- Header Title -->
        <header class="header">
            <!-- <h1>Registration Form</h1> -->
        </header>
        <div class="containerLogin">
            <div class="row justify-content-center">
                <article class="col-md-9">
                    <!-- Start Login Form -->
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                                <div class="row" style="display: flex; justify-content: center;">
                                        <div class="form-heading text-center">
                                            <div class="title">Logo</div>
                                        </div>
                                    </div>
                            <form action="/" method="POST">
                                <!-- Form Title -->
                                
                                <!-- Username -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Username</label>
                                        <input type="text" name="username" required /> </div>
                                </div>
                                <!-- Password -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Password</label>
                                        <input type="password" name="password" required  /> </div>
                                </div>
                                <!-- Login Button -->
                                <div class="row" style="display: flex; justify-content: center; margin-top: 20px;">
                                    <!-- <div class="col-md-6">
                                                <label><a href="#">Forget Password?</a></label>
                                            </div> -->
                                    <div class="col-md-3">
                                        <button type="submit" class="login-button" onclick="location.href='/register'">SIGN UP</button>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="signUp-button">LOG IN</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Login Form -->
                </article>
                <div class="clearfix"></div>
            </div>
        </div>