<div class="content">
    <div class="row justify-content-center">
        <article class="col-md-9">
            <!-- Start Login Form -->
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="/register" method="POST">
                        <!-- Form Title -->
                        <div class="form-heading text-center">
                            <div class="title">Burnify</div>
                        </div>
                        <!-- Username -->
                        <div class="row">
                            <div class="col-md-12">
                                <label>Username</label>
                                <input type="text" name="username" required /> </div>
                        </div>
                        <!-- Password -->
                        <div class="row">
                            <div class="col-md-12">
                                <label>Password</label>
                                <input type="password" name="password" required /> </div>
                        </div>
                        <!-- Age -->
                        <div class="row">
                            <div class="col-md-12">
                                <label>Age</label>
                                <input type="text" name="age" required /> </div>
                        </div>
                        <!-- Weight -->
                        <div class="row">
                            <div class="col-md-12">
                                <label>Weight</label>
                                <input type="text" name="weight" required /> </div>
                        </div>
                        <!-- Checkbox male or female -->
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="m"
                                checked>
                            <label class="form-check-label" for="gender1">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="f">
                            <label class="form-check-label" for="gender2">
                                Female
                            </label>
                        </div>
                        <!-- Login Button -->
                        <div class="row">
                            <!-- <div class="col-md-6">
                                        <label><a href="#">Forget Password?</a></label>
                                    </div> -->
                            <div class="col-md-6">
                                <button type="submit" class="login-button">SUBMIT</button>
                            </div>
                            <!-- <div class="col-md-6">
                                <button class="signUp-button">SIGNUP</button>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
            <!-- End Login Form -->
        </article>
        <div class="clearfix"></div>
    </div>
</div>