<!doctype html>
<html lang="en-US">
    
<% include partials/head.ejs %>

<body>

    <% include partials/registerForm.ejs %>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <% include partials/scripts.ejs %>

</body>

</html>