<!doctype html>
<html lang="en-US">

<% include partials/head.ejs %>

<body>
    <!-- Header Title -->
    <div class="containerPlaylist" style="overflow-y: scroll; height:400px">
        <header class="headerWarmup">
            <p>Warm Up</p>
        </header>
        <table class="playlist">
            <tr>
                <th>TITLE</th>
                <th>ARTIST</th>
                <th>DURATION</th>
                <th>BPM</th>
                <th>CALORIES</th>
            </tr>
            <% warmupplaylist.forEach((element)=>{%>
            <tr>
                <td>
                    <%= element.title %>
                </td>
                <td>
                    <%= element.artistname %>
                </td>
                <td>
                    <%= element.duration %>
                </td>
                <td>
                    <%= element.bpm %>
                </td>
                <td style="text-align: center">46</td>
            </tr>
            <% }) %>
        </table>
        <div class="row">
                <div class="col-md-12" style="margin-bottom: 20px;">
                <button class="warmUpButton" onclick=" window.open('https://open.spotify.com/playlist/1pkRyS9BK5ktJB89uQNtWp','_blank')">
                    PLAY</button>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include partials/scripts.ejs %>

</body>

</html>