.form-heading {
    margin-top: -70px;
    padding: 20px;
    background: #eb6a2f;
    color: #fff;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

/* Dashboard.ejs CSS */
.containerDashboard {
    background-image: linear-gradient(rgb(151, 41, 165), rgb(25, 5, 73));
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.total-calories-text {
    /* margin-top: -80px; */
    margin-left: 50px;
    padding: 20px;
    background: #eb6a2f;
    color: #fff;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
}

.user-name {
    justify-content: center;
    display: flex;
}

.user-age {
    justify-content: center;
    display: flex;
}

.warm-up {
    background-color: #cf7348;
    width: 130px;
    height: 30px;
    color: white;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 35px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.easy {
    background-color: #379b55;
    width: 130px;
    height: 30px;
    color: white;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 35px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.medium {
    background-color: #9ea83f;
    width: 130px;
    height: 30px;
    color: white;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 35px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hard {
    background-color: #a83f3f;
    width: 130px;
    height: 30px;
    color: white;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 10px;
    margin-left: 35px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.block-display warm-up .block-display easy .block-display medium .block-display hard{
    margin-bottom: 5px;
    display: block;
}

.block-display {
    margin-top: 40px;
    margin-bottom: -30px;
}

/* Playlist.ejs css */

.containerPlaylist {
    background-image: linear-gradient(rgb(151, 41, 165), rgb(25, 5, 73));
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.playlist {
    table-layout: auto;
    width: 100%;
    color: white;
    font-weight: 300;
    font-size: 14px;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid rgb(182, 177, 177);
}
th {
    border-bottom: 1px solid rgb(182, 177, 177);
    color: rgb(182, 177, 177);
    font-size: 10px;
}

.description {
    float: left;
    margin-bottom: 40px;
}

.distance {
    padding: 60px 0;
}

.lineheight {
    height: 30px;
}

.icon.icon-primary {
    color: #eb6a2f;
    font-size: 24px;
    float: left;
    padding-right: 16px;
    margin-top: -6px;
}

.containerForm {
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

form {
    background-image: linear-gradient(rgb(151, 41, 165), rgb(25, 5, 73));
    padding: 30px 20px;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 1), 0 3px 1px -2px rgba(0, 0, 0, 2), 0 1px 5px 0 rgba(0, 0, 0, 3);
}

.form-control {
    position: relative;
    z-index: 2;
    margin: 0;
    width: 100%;
    height: 41px;
    display: block;
    border: none;
    color: #898989;
    padding: 10px 0;
    will-change: background-position;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 97%, #d2d2d2 97%);
    background-position: -100%;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 14px;
    font-weight: 100;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
}

/* ============ LABEL =========== */

label {
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    margin: 30px 0 30px;
    display: inline-block;
}

.floating-label {
    -webkit-transform: translateY(-18px);
    transform: translateY(-18px);
    position: absolute;
}

.label-active {
    -webkit-transform: translateY(-38px);
    transform: translateY(-38px);
    font-size: 10px;
    color: #898989;
}

.label-required:before {
    content: '*';
    color: #eb6a2f;
    position: absolute;
    margin-left: -10px;
}

/* ============ INPUT =========== */

input[type=email], input[type=text], input[type=datepicker], input[type=textarea], input[type=password], input[type=number] {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    width: 100%;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #d2d2d2;
    will-change: background-position;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #eb6a2f 96%);
    background-position: -1920px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #000;
    font-size: 14px;
    font-weight: 100;
}

input[type=email].input-active, input[type=email]:focus, input[type=text].input-active, input[type=text]:focus, input[type=datepicker].input-active, input[type=datepicker]:focus, input[type=textarea].input-active, input[type=textarea]:focus, input[type=password].input-active, input[type=password]:focus, input[type=number].input-active, input[type=number]:focus {
    background-position: 0 0;
    box-shadow: none;
    outline: 0;
}

input[type=email].input-active, input[type=email]:focus:after, input[type=text].input-active, input[type=text]:focus:after, input[type=datepicker].input-active, input[type=datepicker]:focus:after, input[type=textarea].input-active, input[type=textarea]:focus:after, input[type=password].input-active, input[type=password]:focus:after, input[type=number].input-active, input[type=number]:focus:after {
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    width: 100%;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #d2d2d2;
    will-change: background-position;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #d2d2d2 96%);
    background-position: -1920px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #898989;
    font-size: 14px;
    font-weight: 100;
}

input[type=email]::-webkit-input-placeholder, input[type=text]::-webkit-input-placeholder, input[type=datepicker]::-webkit-input-placeholder, input[type=textarea]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder {
    transition: all .2s cubic-bezier(.64, .09, .08, 1);
}

/* input[type=radio]:after, input[type=radio]:before {
    content: '';
    position: absolute;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
} */

input[type=radio] {
    position: relative;
    top: 2px;
    left: 2px;
    margin: 0 8px;
    cursor: pointer;
}

input[type=radio]:before {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #eb6a2f;
    display: inline-block;
    top: -5px;
    left: -8px;
    background-image: radial-gradient(circle, #eb6a2f 60%, #fff 70%);
    background-size: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    will-change: background-size;
    z-index: 2;
}

/* input[type=radio]:after {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
} */

/* input[type=radio]:checked:before {
    background-size: 14px 14px;
} */


/* ============ BUTTONS =========== */

.login-button {
    margin-top: 20px;
    padding: 8px 14px;
    letter-spacing: 1px;
    float: right;
    background: #eb6a2f;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #eb6a2f;
    font-weight: 300;
    font-size: 14px;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.signUp-button {
    margin-top: 20px;
    padding: 8px 14px;
    letter-spacing: 1px;
    float: right;
    background: #eb6a2f;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #eb6a2f;
    font-weight: 300;
    font-size: 14px;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}